
<form  name="detailsForm">

<!-- Navbar Menu -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Home</a>
		    </div>
    </div>
</nav>

  <div class = container>
    <div ng-controller="SimpleController" class=row>
        <div class="col-md-5">
		    <p>First Name:</p>
		        <input type ="text" ng-model="formData.firstName" name="fname"/>         
		    <p>Last Name:</p>
		        <input type ="text" ng-model="formData.lastName" name="lname"/>
		    <p>Email:</p>
		        <input type ="email" ng-model="formData.emailAddress" name="eaddress"/>  
            <button ng-click="onSubmit()">Submit</button>
	    <br><br>
		    <pre>{{formData | json}}</pre> 

		    <!-- Custome directive -->
		    <custom-directive-shared></custom-directive-shared>
		    <br/>

		    <custom-directive-isolated name="formData.firstName"></custom-directive-isolated>
		    <br/>

		    <custom-directive-isolated-with-url name="formData.firstName"></custom-directive-isolated-with-url>
		  
        </div>
     </div>
    </div>

</form>
	    